<div class="container">
    <h2>Professores</h2>
    <form [formGroup]="professorForm" (ngSubmit)="OnSubmit()">
        
        <div class="form-group">
            <label for="text">Nome</label>
            <input type="text" class="form-control" formControlName="name" id="Name" aria-describedby="emailHelp" placeholder="Insira o Nome">
        </div>
        
        <div class="form-group">
            <label for="text">Matéria</label>
            <select name="materia" class="form-control">   
                <option value="">Selecione a Matéria</option>
                <option *ngFor="let materia of materiaList">{{materia.name}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">{{btnSave}}</button>
  </form>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prof of professorList; let i = index;">
            <td>{{prof.id}}</td>
            <td>{{prof.name}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="edit(prof.id)"> Editar </button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="delete(prof.id)"> Excluir </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

